/* ===================== BLURS ===================== */

/* === Base === */
.blur {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  max-width: 100vw;
  overflow: hidden;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  z-index: -1;
}


/* === Sizes === */
.blur-small {
  width: 120px;
  height: 80px;
}

.blur-medium {
  width: 200px;
  height: 120px;
}

.blur-big {
  width: 300px;
  height: 200px;
}

/* === Colors === */
.blur-green {
  background-color: var(--color-highlight);
}

.blur-blue {
  background-color: var(--color-cta);
}

.blur-violet {
  background-color: var(--color-accent);
}
