/* ================= NAV WRAPPER ================= */
.burger-menu {
  width: 100%;
  padding-block: 20px;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
}

.burger-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-toggle-theme {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.burger-icon {
  font-size: 28px;
  cursor: pointer;
  color: var(--dark);
}

/* ================= OVERLAY ================= */
html.no-scroll,
body.no-scroll {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  z-index: 999;
  overflow-x: hidden;
  overflow-y: auto; /* si besoin de scroll vertical */
}

.close-burgernav {
  font-size: 30px;
  position: absolute;
  top: 25px;
  right: 50px;
  cursor: pointer;
}

.links-burgernav {
  height: 100vh;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  text-align: center;
}

.link-burgernav {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.btn-burger {
  margin-top: 30px;
}
