.btn{
  padding-inline: var(--spacing-S);
  padding-block: var(--spacing-XS);
  border-radius: var(--border-Sradius);
  font-weight: 600;
  font-size: var(--spacing-S);
}

.btn-primary{
  background-color: var(--dark-blue);
  color: var(--light);
}
