.btn{
  padding-inline: var(--spacing-S);
  padding-block: var(--spacing-XS);
  border-radius: var(--border-Sradius);
  font-weight: 600;
  font-size: var(--spacing-S);
}

.btn-primary{
  background-color: var(--dark-blue);
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-primary:hover{
  background-color: var(--blue);
  color: var(--dark);
}

.btn-hero{
  background-color: var(--dark-blue);
  color: var(--white);
  padding-inline: 10px;
  font-weight: 600;
  padding-block: 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.btn-hero:hover{
  background-color: var(--blue);
  color: var(--dark);
  transform: scale(1.05);
}

.btn-burger{
  font-size: var(--spacing-M);
  background-color: var(--dark-blue);
  color: var(--white);
  padding-inline: 10px;
  font-weight: 600;
  padding-block: 20px;
  border-radius: 16px;
}

.btn-accordeon{
  background-color: var(--dark-blue);
  color:var(--white);
  box-sizing: content-box;
  width: auto;
display: inline-block;

}

.btn-cta{
  background-color: var(--violet);
  color: var(--dark);
  padding-inline: 10px;
  font-weight: 600;
  padding-block: 20px;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.btn-cta:hover{
  background-color: var(--blue);
  color: var(--dark);
  transform: scale(1.05);
}
