.cards-project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
}

.card-project {
  padding-block:10px;
  padding-bottom: 20px;
  width: 49%;
}

.card-project:hover{
  filter: brightness(50%);
  padding-block:10px;
  width: 49%;
  z-index:1;
}

.image-card-projet{
  width: 100%;
  margin-bottom: 10px;
  filter: brightness(80%);
}

.card-projet-title{
  font-size: 24px;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
}

.card-project-texts{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap:5px;
  width:90%;
}

.type-card-project{
  text-transform: uppercase;
  font-weight:600;
  font-size: 14px;
  color:var(--dark-blue)
}



.card-project-tags{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 20px;
  margin-left: 10px;

}

.card-project-tag{
  background-color: var(--white);
  color: var(--dark);
  padding-inline: 6px;
  padding-block:5px;
  border-radius: 20px;
  width: fit-content;
  z-index: 2;
}

@media screen and (max-width: 768px) {

  .card-project {

    width: 100%;
  }

  .card-project:hover{
    filter: brightness(50%);
    padding-block:10px;
    width: 100%;
    z-index:1;
  }

}
