.cards-project {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-project {
  background-color: var(--light);
  border-radius: 20px;
  padding-inline:20px;
  padding-block:10px;
  width: 18vw;
}

.image-card-projet{
  width: 100%;
  margin-bottom: 10px;
}

.card-projet-title{
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
}

.card-project-texts{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.card-project-tags{
  display: flex;
  flex-wrap: wrap;
  gap:5px;

}

.card-project-tag{
  border: solid 1px var(--dark);
  color: var(--dark);
  padding-inline: 6px;
  padding-block:5px;
  border-radius: 20px;

}

@media screen and (max-width: 768px) {
  .cards-project {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;

  }
  .card-project {
    background-color: var(--light);
    border-radius: 20px;
    padding-inline:20px;
    padding-block:20px;
    width: auto;
  }
}
