.violet-text{
  color: var(--violet);
}

.green-text{
  color: var(--green);
}

.dark-blue-text{
  color: var(--dark-blue);
}

.green-high-text{
  background-color: var(--green);
  color:var(--dark);
}

.violet-high-text{
  background-color: var(--violet);
}

.dark-blue-high-text{
  background-color: var(--dark-blue);
}

.tag{

}

h3{
  text-transform: uppercase;
}

