.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-M);
  padding-inline: var(--spacing-L);
  background-color: var(--white);
}

.links-nav{
  display: flex;
  gap:var(--spacing-M);
}

.logo{
  width:100px;
}


.link-p{
  font-weight:600;
  transition: all 0.3s ease;
}

.link-p:hover{
  font-weight:600;
  color: var(--violet);
}

.link-p .link-active{
  font-weight:600;
}

.link-active{
  color: var(--dark-blue);
  font-weight:600;

}

a{
  text-decoration: none;
  color: var(--dark);
}
