.skills-slider{
  overflow: hidden;
  width: 100%;
  background: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

.skill-slider{
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll 300s linear infinite;
}

.element-skill{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-skill{
  max-height: 30px;
  object-fit: contain;
}

.text-skill{
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.skill-slider::after{
  content:"";
  display: flex;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
