.projet-title{
  padding-block: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap:10px;
}

.projet-title p{
 width:60%;
}

.container-img-projet{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.image-projet{
  object-fit: cover;
  height: 60vh;
  width: 100%;
}

.p-projet{
  width: 60%;
  text-align: center;
}

.container-type-projet{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.icon-projet{
  font-size: 30px;
}

.element-type-projet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.element-page-projet{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.propos-page-projet{
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 60%;
  text-align: center;
  margin-bottom: 40px;
}

.stack-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.stack-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  margin-bottom: 40px;
}

.photos-section{
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding-block: 40px;
  padding-inline: 30px;
  border-radius: 20px;
}

.photos-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  width: 100%;
}

.photo-projet{
  width:20%;
}

.img-projet{
  border-radius: 20px;
  width:100%;
}

.btns-projet{
  font-weight: 200;
  margin-top: 20px;
  display: flex;
  gap:20px;
}

.btn-projet{
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: 500;
}

.btn-projet:hover{
  background-color: var(--blue);
  color: var(--dark);
}

.btn-projet-secondary{
  border: solid var(--dark-blue) 1px;
  color: var(--dark-blue);
  font-weight: 500;
}
.btn-projet-secondary:hover{
  border: solid var(--dark) 1px;
  color: var(--dark);
}

@media screen and (max-width:768px){
  .projet-title p{
    width:80%;
   }

   .photos-group{
  margin-bottom: 0px;
    width: 100%;
  }

  .photo-projet{
    width:40%;
  }

   .img-projet{
    border-radius: 5px;
    width:100%;
  }
}
