.projets-texte{
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin-bottom: 40px;
}

.projets-texte p{
  width: 50%;
  text-align: center;
}
