
:root {
  /* Couleurs */
  --light: #FFF4E4;
  --white: #FFFFFF;
  --dark: #020700;
  --green:#D8FF7B;
  --blue:#D0EEF9;
  --dark-blue:#4E61F5;
  --violet:#CB89FF;


  /* Fonts */
  --font-family-heading:'Oswald', sans-serif;
  --font-family: 'Noto Sans', sans-serif;
  --heading1-font-size: 48px;
  --heading2-font-size: 32px;
  --heading3-font-size: 24px;
  --heading4-font-size: 20px;
  --body-font-size: 16px;
  --xsbody-font-size: 14px;

  /* Spacing */
  --spacing-XS: 8px;
  --spacing-S: 16px;
  --spacing-M: 32px;
  --spacing-L: 64px;
  --spacing-XL: 128px;

  --border-Sradius: 8px;
  --border-Mradius: 20px;
}
