:root {
  /* Couleurs */
  --light: #FFF4E4;
  --white: #FFFFFF;
  --dark: #020700;
  --green:#D8FF7B;
  --blue:#D0EEF9;
  --dark-blue:#4E61F5;
  --violet:#CB89FF;

  /* Fonts */
  --font-family-heading:'Oswald', sans-serif;
  --font-family: 'Noto Sans', sans-serif;
  --heading1-font-size: 48px;
  --heading2-font-size: 32px;
  --heading3-font-size: 24px;
  --heading4-font-size: 20px;
  --body-font-size: 16px;
  --xsbody-font-size: 14px;

  /* Spacing */
  --spacing-XS: 8px;
  --spacing-S: 16px;
  --spacing-M: 32px;
  --spacing-L: 64px;
  --spacing-XL: 128px;

  --border-Sradius: 8px;
  --border-Mradius: 20px;
}

.h2-title{
  font-size:var(--heading3-font-size);
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 768px) {
  :root {
    --heading1-font-size: 32px !important;
    --heading2-font-size: 24px !important;
    --heading3-font-size: 20px !important;
    --heading4-font-size: 18px !important;
    --body-font-size: 14px !important;
    --xsbody-font-size: 12px !important;

    --spacing-XS: 4px !important;
    --spacing-S: 8px !important;
    --spacing-M: 16px !important;
    --spacing-L: 32px !important;
    --spacing-XL: 64px !important;

    --border-Sradius: 6px !important;
    --border-Mradius: 12px !important;
  }
  .h2-title{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    text-align: center;
  }
}
